[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[B2C8-40D2]
row=1
col=0

[be84e9a8-74a2-4a5b-bc63-d998716c031e]
row=0
col=0

[6737-8502]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/corey]
row=5
col=0

